body {
  text-align: center;
  background-color: #7777dd;
  color: white;
}

body*{
margin: 0;
border: 0;
padding: 0;
}

.fugaz{
  color: white;
  font-family: 'Fugaz One', cursive;
}

.galada{
  font-family: 'Galada', cursive;
}

.letrabase {
  color: white;
  font-family: 'Noto Serif', serif;
}

.mifondo{
  text-align: right;
  background-image: url('../img/agua.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  /*text-shadow: 2px 3px 2px #707070;*/
  padding: 50px 50px 250px 50px;
}
